Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.codelite
.vs
.idea
.kdev4
*.code-workspace
Makefile
*.txt
*.workspace
*.kdev4
*.pro
*.pri
*.ignore
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
